*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header  */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    height: 20vh;
}

.logo {
    width: 100%;
    max-height: 7vh;
    max-width: 26vh;
}

nav>div>a {
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: small;
    background-color: #e64b4b;
    margin-right: 4vh;
    height: 8vh;
    justify-content: center;
    border-radius: 28px;
    display: inline;
}

.scn-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
    background-color: lightgray;
    align-items: center;
    text-align: center;
}

.scn-header>a {
    text-decoration: none;
    color: black;
}

.checkboxes>label {
  font-size: small;
}

.card-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.card {
    text-align: center;
    padding: 10px;
    box-shadow: 3px 2px lightgrey;
    border: 1px solid black;
    margin: 20px;
    border-radius: 13px;
    margin-top: 7vh;

}


.card>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.card>div>p {
    margin-bottom: 0;
}

footer { 


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightcoral;
}

footer>div, h5 {
    padding: 5px;
}

table {
    width: 70%;
    border-spacing: 20px 10px;
    border-collapse: collapse;
}

.table-container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

th,
td {
    text-align: center;
    padding: 10px;
}

td {
    border: 1px solid black;
}

.theader {
    background-color: lightgray;
    box-shadow: 3px 2px lightgrey;
    border: 1px solid black;
}

caption {

    text-align: initial;
    border-spacing: 0px;
    padding: 15px 0px;
    text-decoration: underline;
}

tbody {
    border: 1px solid;
}

.formcontainer {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    
}

.formcontainer>form {
    margin-bottom: 15px;
    box-shadow: 3px 2px lightgrey;
    border: 1px solid black;
    padding: 20px;
}

.detailcont {
    align-items: center;
    border: 1px solid black;
    height: 40vh;
    padding: 25px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 3vh;
}

.details {
    justify-content: center;
    display: flex;
    
}

.detailcont>div {
    text-align: center;
    height: 90%;
    width: 50%;
    border: 1px solid black;
    margin: 20px;
}

.detailcont>div>img {
    height: 100%;
    width: 100%;
}




@media only screen and (min-width: 320px) and (max-width: 767px){

    .logo {
        display: none;
    }

    nav>div {
        width: 100%;
    }

    nav>div>a {
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        height: auto;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }

}